#root {
  $burger-menu-transform: translateX(0);

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(28, 161, 126, 0.88);
    transform: var(--burger-menu-transform);
    height: 100vh;
    padding: 5rem 2.25rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 576px) {
      width: 75%;
    }

    .link-item {
      display: flex;
      text-decoration: none;

      a {
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        transition: color 0.3s linear;
      }

      .active {
        color: rgb(67, 200, 245);
      }
    }
  }
}
