.header-title {
  font-size: 1.5rem;
}

.header-subtitle {
  font-size: 0.9375rem;
}

@media (min-width: 751px) {
  .header-title {
    font-size: 2.375rem;
  }

  .header-subtitle {
    font-size: 1.5rem;
  }
}