@import './animations.scss';

.navbar {
  position: fixed;  
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  .navbar-logo {
    @include addFadeIn(3s);

    img {
      width: auto;
    }
  }

  .link-items {
    @include addFadeIn(3s);
  }

  .burger-section {
    display: inherit;
  }

  .navbar-items {
    display: none;
  }

  @media (min-width: 875px) {
    .burger-section {
      display: none;
    }

    .navbar-items {
      display: inherit;
    }
  }
}